# Q1 ) Learning a graph with missing data

We are making use of a Camera dataset taken from [Kaggle](https://www.kaggle.com/crawford/1000-cameras-dataset/), which contains 13 properties of each cameras.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('camera_dataset.csv')
df.head()

,Model,Release date,Max resolution,Low resolution,Effective pixels,Zoom wide (W),Zoom tele (T),Normal focus range,Macro focus range,Storage included,Weight (inc. batteries),Dimensions,Price
0,Agfa ePhoto 1280,1997,1024.0,640.0,0.0,38.0,114.0,70.0,40.0,4.0,420.0,95.0,179.0
1,Agfa ePhoto 1680,1998,1280.0,640.0,1.0,38.0,114.0,50.0,0.0,4.0,420.0,158.0,179.0
2,Agfa ePhoto CL18,2000,640.0,0.0,0.0,45.0,45.0,0.0,0.0,2.0,0.0,0.0,179.0
3,Agfa ePhoto CL30,1999,1152.0,640.0,0.0,35.0,35.0,0.0,0.0,4.0,0.0,0.0,269.0
4,Agfa ePhoto CL30 Clik!,1999,1152.0,640.0,0.0,43.0,43.0,50.0,0.0,40.0,300.0,128.0,1299.0

In [3]:
df.isnull().sum()

Model                      0
Release date               0
Max resolution             0
Low resolution             0
Effective pixels           0
Zoom wide (W)              0
Zoom tele (T)              0
Normal focus range         0
Macro focus range          1
Storage included           2
Weight (inc. batteries)    2
Dimensions                 2
Price                      0
dtype: int64

### Selecting only numerical attributes

In [4]:
numerical = [features for features in df.columns if df[features].dtype != 'O']
print('Number of numerical features  =',len(numerical))
print('Number of features = ',(df.shape[1]))

Number of numerical features  = 12
Number of features =  13

In [5]:
df=df.drop('Model',axis=1)

In [6]:
numerical = [features for features in df.columns if df[features].dtype != 'O']
print('Number of numerical features  =',len(numerical))
print('Number of features = ',(df.shape[1]))

Number of numerical features  = 12
Number of features =  12

## Dropping some values at random from each columns

In [7]:
dropped_df=df.copy()
#Creating 20% missing values in each column
for col in dropped_df.columns:
    dropped_df.loc[dropped_df.sample(frac=0.2).index, col] = np.nan

In [8]:
dropped_df.isnull().sum()

Release date               208
Max resolution             208
Low resolution             208
Effective pixels           208
Zoom wide (W)              208
Zoom tele (T)              208
Normal focus range         208
Macro focus range          209
Storage included           210
Weight (inc. batteries)    210
Dimensions                 210
Price                      208
dtype: int64

In [9]:
dropped_df.head()

,Release date,Max resolution,Low resolution,Effective pixels,Zoom wide (W),Zoom tele (T),Normal focus range,Macro focus range,Storage included,Weight (inc. batteries),Dimensions,Price
0,1997.0,1024.0,640.0,0.0,NaN,114.0,70.0,40.0,4.0,420.0,95.0,179.0
1,1998.0,1280.0,640.0,NaN,38.0,114.0,50.0,0.0,4.0,NaN,158.0,NaN
2,2000.0,640.0,0.0,0.0,45.0,45.0,0.0,NaN,2.0,0.0,0.0,179.0
3,1999.0,NaN,640.0,0.0,NaN,35.0,0.0,0.0,4.0,0.0,0.0,269.0
4,1999.0,1152.0,640.0,0.0,43.0,NaN,50.0,0.0,40.0,300.0,128.0,1299.0

In [10]:
dropped_df.to_csv('processed.csv')