## Data Preprocessing
We are making use of [banknote authentication Data Set](http://archive.ics.uci.edu/ml/datasets/banknote+authentication#) from UCI Machine Learning Repository

In [63]:
import pandas as pd
import numpy as np

In [64]:
df=pd.read_csv('data_banknote_authentication.txt')
df.head()
#df.size

   variance  skewness  curtosis  entropy  Class
0   3.62160    8.6661   -2.8073 -0.44699       0
1   4.54590    8.1674   -2.4586 -1.46210       0
2   3.86600   -2.6383    1.9242  0.10645       0
3   3.45660    9.5228   -4.0112 -3.59440       0
4   0.32924   -4.4552    4.5718 -0.98880       0

# Dropping some rows for semi supervised setting

In [65]:
dropped_df=df.copy()
col = 'Class'
dropped_df.loc[dropped_df.sample(frac=0.2).index, col] = np.nan
dropped_df.head()

   variance  skewness  curtosis  entropy  Class   Class
0   3.62160    8.6661   -2.8073 -0.44699       0    NaN
1   4.54590    8.1674   -2.4586 -1.46210       0    NaN
2   3.86600   -2.6383    1.9242  0.10645       0    NaN
3   3.45660    9.5228   -4.0112 -3.59440       0    NaN
4   0.32924   -4.4552    4.5718 -0.98880       0    NaN

In [66]:
dropped_df.isnull().sum()

variance       0
skewness       0
curtosis       0
entropy        0
Class          0
Class       1372
dtype: int64

In [67]:
dropped_df.to_csv('processed.csv')